---
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerIndentWidth: 2

AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left

ColumnLimit: 120
...
