---
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerIndentWidth: 2

AllowShortFunctionsOnASingleLine: InlineOnly
PointerAlignment: Left

ColumnLimit: 120

NamespaceIndentation: All

AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false

BinPackArguments: true

...
